# Sistema y entorno
.DS_Store
*.log
*.tmp
*.swp

# Archivos de compilación y empaquetado
/target/
/build/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse / IntelliJ IDEA / VS Code
*.iml
.idea/
.vscode/
*.ipr
*.iws
*.bak

# Spring Boot config local
application-local.properties
application-dev.properties

# Carpetas pesadas o no necesarias
.elasticbeanstalk/
*.zip

# Sistema de archivos de Mac
__MACOSX

# Test reports
/surefire-reports/
/test-output/

# Archivos sensibles opcionales
.env
*.pem
